@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('./assets/fonts/roboto-300.woff') format('woff'),
       url('./assets/fonts/roboto-300.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./assets/fonts/roboto-700.woff') format('woff'),
       url('./assets/fonts/roboto-700.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./assets/fonts/open-sans-regular.woff') format('woff'),
       url('./assets/fonts/open-sans-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('./assets/fonts/open-sans-600.woff') format('woff'),
       url('./assets/fonts/open-sans-600.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./assets/fonts/open-sans-700.woff') format('woff'),
       url('./assets/fonts/open-sans-700.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('./assets/fonts/montserrat-300.woff') format('woff'),
       url('./assets/fonts/montserrat-300.woff2') format('woff2');
  font-display: swap;
}

body {
  min-width: 1600px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #151515;
  font-weight: 400;
  font-style: normal;

  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
font-family: "Open Sans", "PT Sans", sans-serif;
color: #151515;
font-weight: 600;
}

input:-moz-placeholder,
textarea:-moz-placeholder { 
font-family: "Open Sans", "PT Sans", sans-serif;
color: #151515;
font-weight: 600;
}

input::-moz-placeholder,
textarea::-moz-placeholder {  
font-family: "Open Sans", "PT Sans", sans-serif;
color: #151515;
font-weight: 600;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {  
font-family: "Open Sans", "PT Sans", sans-serif;
color: #151515;
font-weight: 600;
}
